<div class="row">
    <div class="col-lg-12 ">
        <div class="img-wrap">
            <img src="../../assets/img/header-logo.png" alt="">
        </div>
    </div>
</div>

<div class="row">

    <div class="col-lg-12 d-flex justify-content-center mb-3">
        <h4 class="user-font-style">User Information</h4>
    </div>
    <div class="col-lg-12 d-flex justify-content-center mb-4">
        <div class="user-logo">
            <p class="user-logo-text">U</p>
        </div>
    </div>
            <div class="row">
    <div class="col-lg-5">
        <h5 class="user-font-style user-email">
            User Email:
        </h5>
    </div>
    <div class="col-lg-7">
        <p class="user-font-style">
            {{ authService.currentUserName }}
        </p>
    </div>
            </div>
            <div class="row">
    <div class="col-lg-3 ">
        <h5 class="user-font-style user-id">
            User ID:
        </h5>
    </div>
    <div class="col-lg-9">
    <p class="user-font-style">
        {{ authService.currentUserId }}
    </p>
    </div>
            </div>
    <div class="col-lg-12 d-flex justify-content-center mt-4">
        <button class="btn btn-primary user-font-style"  (click)="logout()">Logout</button>
    </div>
</div>



